.search {
  position: relative;
  display: inline-block;
  padding: 15px 70px;
  border: 1px solid #B17461;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 4px 1px rgba(0,0,0,.18)
  color: #B17461;
  font-size: 30px;
  font-family: arial;
  background-image: linear-gradient(rgba(0,0,0,.18), rgba(0,0,0,.18));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
}
.search:hover {
  background-size: 100% 100%;
  color: #fff;
}

.floating {
  position: relative;
  animation: object-floating 2s infinite cubic-bezier(.45,.05,.55,.95) alternate;
}

@keyframes object-floating {
  from {top: 0px;}
  to {top: 15px;}
}

display: block;
  position: absolute;
top: 35%;
  left: 15%;
  margin-left: -80px;
  margin-top: -72px;
